@mixin scale($size) {
    -webkit-transform: scale($size);
    transform: scale($size);
}
@mixin transition($time) {
	transition: all $time;
	-webkit-transition: all $time;
	-moz-transition: all $time;
}
.destroy {
	display: none;
}
#grid {
	width: 1000px;
	height: 1000px;
	background-color: #56D6BA;
	position: relative;

	.spot {
		width:24px;
		font-size: 8px;
		height: 24px;
		position: absolute;
		background-color: #F56C75;
		border-radius: 4px;
		box-shadow: 0;
		cursor: pointer;
		-webkit-transition: -moz-transform .3s ease-out; 
		-moz-transition: -webkit-transform .3s ease-out; 
/* 		@include transition(0.1s); */

		&.lifted {
			@include scale(1.28);
			box-shadow: #f5f5f5 0 0 9px;
		}

		input {
			margin-left: 20px;
			width: 30px;
		}
	}
}